.menu {
  width: 60px;
  height: 30px;
  background: rgb(167, 7, 7);
  transition-property: width, height, border-radius;
  transition-duration: 0.2s;
  transition-delay: 0.1s, 0.3s, 0.1s;
  transition-timing-function: ease-in-out;
  padding: 5px;
  line-height: 30px;
  color: white;
  font-family: arial;
  text-align: center;
  float: left;
}
.menu:hover {
  width: 100px;
  height: 197px;
}
.menu:hover .list {
  display: block;
}
.list {
  list-style-type: none;
  text-align: center;
  display: none;
  padding: 0px;
}
.list li:hover {
  background-color: lightpink;
}
#m1 {
  background: green;
}
#m1 ul li:hover {
  background-color: lightgreen;
}
#m2 {
  background: blue;
}
#m2 ul li:hover {
  background-color: lightblue;
}
